@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #8B6684;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  padding: 1.25rem 0;
}

.footer .logo {
  width: 6.25rem;
  height: auto;
}

.footer .social-media {
  display: flex;
  justify-content: center;
  padding: 0.625rem 0;
}

.footer .social-media a {
  color: white;
  margin: 0 0.9375rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer .social-media a:hover {
  color: #004543;
}

.footer .copyright {
  font-size: 0.875rem;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1.2rem;
  background-color: #ffffff;
}

.footer{
  bottom: 0;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: auto;
}

.buttons-container {
  display: flex;
  gap: 2rem;
}

.header-button {
  padding: 0.6rem 1.2rem;
  border: none;
  background-color: #0F918D;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 0.5rem;
}

.header-button:hover {
  background-color: #004543;
}



